body
{
background-color:#EAEBE5;
font-size: 12px;
font-family: Verdana, Geneva, sans-serif;
}


#top_border {
	margin:0px;
	padding: 0px;
	padding-left: 20px;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0%;
	height: 50px;
	overflow: hidden;
	border-width: 0px;

background: rgb(168,112,112); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(168,112,112,1) 0%, rgba(162,104,104,1) 50%, rgba(154,94,94,1) 51%, rgba(164,106,106,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,112,112,1)), color-stop(50%,rgba(162,104,104,1)), color-stop(51%,rgba(154,94,94,1)), color-stop(100%,rgba(164,106,106,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(168,112,112,1) 0%,rgba(162,104,104,1) 50%,rgba(154,94,94,1) 51%,rgba(164,106,106,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(168,112,112,1) 0%,rgba(162,104,104,1) 50%,rgba(154,94,94,1) 51%,rgba(164,106,106,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(168,112,112,1) 0%,rgba(162,104,104,1) 50%,rgba(154,94,94,1) 51%,rgba(164,106,106,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(168,112,112,1) 0%,rgba(162,104,104,1) 50%,rgba(154,94,94,1) 51%,rgba(164,106,106,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a87070', endColorstr='#a46a6a',GradientType=0 ); /* IE6-9 */


}


input {
    width:300px;
    margin-bottom:5px;
    line-height:18px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CCC;
}

textarea {
    width: 380px;
    height: 70px;
    border-radius: 1em;
    border: 1px solid #000; /* everything up to and including this line
                               are aesthetics, adjust to taste */
    outline: none; /* removes the default outline */
    resize: none; /* prevents the user-resizing, adjust to taste */
}

#form_box
{
	background-color:#541116;
	border-width:10px;
	border-style:solid;
	border-radius:10px;
	border-color:#541116;
	margin: 0 auto 40px auto;
	padding: 0px 0 0px 0;
	width: 500px;

}

.form_div
{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:center;
	
}

#content
{
	position: absolute;
	width: 100%;
	left:0px;
	top: 50px;
}
#content h1
{
	color:#A73E0F;
	text-align: center;
	padding:15px 0 0 0;
	margin: 0 auto 0 auto;


}


#top_border ul {
  	list-style: none;
  	margin: 0;
  	padding: 0;
}
#top_border ul li {
  	float: left;
}
#top_border ul li a {
	padding: 0 25px 0 25px;
	height: 50px;
	padding-top: 14px;
  	display: block;
 	color: black;	
 	text-transform: uppercase;
 	font-size: 16px;
 	text-decoration: none;
}
#top_border ul li a:hover {
 	display: block;
 	float: left;
 	text-decoration: underline;

	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
 	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
 	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);



}

#community_container
{
	position: absolute;
	top: 456px;
	padding-top:5px;
	right: -5px;
	height: 30px;
	width:120px;
	margin-right: 0;
	margin-bottom: 0;
	border-top-left-radius: 10px;
	float:right;

	background-color: #541116;

	border-width: 5px;
	border-style:solid;
	border-color:#541116;
}


.small_square
{
	position:relative;
	background-color:blue;
	width:25px;
	font-size:8px;
	font-style:bold;
	padding: auto auto auto auto;
	margin-right:10px;
	border-radius: 50%;
	float:right;
}

.small_square_img
{
	position:relative;
	
	width:25px;
	font-size:8px;
	font-style:bold;
	margin-right:10px;
	border-radius: 50%;
	float:right;
}

.small_square p 
{
	text-align: center; 
	color: white;
}


.container_box
{
	text-shadow: 0px 1px 2px #bbb;
	color: #111111;
	font-size: 25px;
	font-family: Helvetica;
	font-weight: lighter;
	top:100px;
	position:relative;
	background-color:#FFFFFF;
	color:black;
	width:500px;
	height:500px;
	border-width:10px;
	border-style:solid;
	border-radius:10px;
	border-color:#541116;
	margin: 0 auto;
	padding-bottom: 0;
	-webkit-box-shadow: 5px 3px 15px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    5px 3px 15px rgba(50, 50, 50, 0.4);
	box-shadow:         5px 3px 15px rgba(50, 50, 50, 0.4);
}



#container_box_mini
{
	position:relative;
	width:750px;
	margin: 25px auto;
	height: 250px;
}

.color_box
{
	background-color: purple;
	height:10px;
	width:10px;
	float:right;
	margin-right: 5px;
	border-style:solid;
	border-color:black;
	border-width: 1px;
}


.box_mini
{
	position:relative;
	background-color:#FFFFFF;
	color:black;
	width:180px;
	height:180px;
	border-width:10px;
	border-style:solid;
	border-radius:10px;
	border-color:white;
	padding-bottom: 0;
	-webkit-box-shadow: 5px 3px 15px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    5px 3px 15px rgba(50, 50, 50, 0.4);
	box-shadow:         5px 3px 15px rgba(50, 50, 50, 0.4);
	float:left;
	margin-left:25px;
	margin-right:25px;

}

/* This is used in generator.php to create the different box-layouts...*/
.square 
{	
	text-shadow: 0px 1px 2px #bbb;
	position:relative;
	width: 90px;
	height: 90px;
	background-color:green;
	float:left;
	
/*WE MIGHT ADD THIS LATER*/
	/*border-color:1px;
	border-style:solid;
	border-color:white;*/
}

.squareBig 
{
	padding: 10px;
	position:relative;
	width: 230px;
	height: 230px;
	background-color:green;
	float:left;
}

.rectangle_vertical
{
	position:relative;
	width: 180px;
	height: 60px;
	background-color:green;
	float:left;
}

.rectangle_horizontal_inner
{
	position:relative;
	width: 60px;
	height: 90px;
	background-color:green;
	float:left;
}

.rectangle_horizontal_inner_big
{
	position:relative;
	width: 146px;
	height: 230px;
	background-color:green;
	float:left;
	padding: 10px;
}
.rectangle_vertical_inner
{
	position:relative;
	width: 90px;
	height: 60px;
	background-color:green;
	float:left;
	
}

.rectangle_vertical_inner_big
{
	padding: 10px;
	position:relative;
	width: 230px;
	height: 146px;
	background-color:green;
	float:left;
	
}
.rectangle_horizontal
{
	position:relative;
	width: 60px;
	height: 180px;
	background-color:green;
	float:left;
}

/* End of the box-css */


.rectangle_horizontal_big
{
	padding: 10px;
	position:relative;
	width: 146px;
	height: 480px;
	background-color:green;
	float:left;
}

.rectangle_vertical_big
{
	padding: 10px;
	position:relative;
	width: 480px;
	height: 146px;
	background-color:green;
	float:left;
}



h2
{
	position: relative;
	width: 112%;
	font-size: 1.1em;
	font-weight: bold;
	top: 10px;
	padding: 6px 0px 6px 20px;
	margin: 0px 0px 10px -30px;
	color: #555;
	background-color: #F2C84B;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

h2:before
{
	content: ' ';
	position: absolute;
	width: 30px;
	height: 0;
	left: -30px;
	top: 12px;
	border-width: 20px 10px;
	border-style: solid;
	border-color: #F2C84B #F2C84B #F2C84B transparent;
}

h2:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #BF820F #BF820F transparent transparent;
}